<?xml version="1.0" encoding="UTF-8"?>
<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">IG Home</a>
  </li>
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
    <li>
    <a href="models.html">Logical Models</a>
  </li>
  <li>
    <a href="mapping.html">Mapping</a>
  </li>
  <li>
    <a href="profiles.html">Profiles</a>
  </li>
  <li>
    <a href="examples.html">Examples</a>
  </li>
  <li>
    <a href="capabilities.html">Capability Statements</a>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
  <!--
  <li>
    <a href="{{site.data.fhir.path}}index.html">FHIR Spec</a>
  </li>
  -->
</ul>
